<%- include("partials/header") %>
<link href="css/home.css" rel="stylesheet">
<%- include("partials/body") %>
  
  <section class="section-home">
    <h1>Locaciones estrellas estrellas</h1>
    <article class="card-1">
      <h2>Torre Eiffel, París, Francia</h2>
      <p>Situado en el piso 2 de la torre, ofrece una experiencia gastronómica excepcional con una vista panorámica impresionante de la ciudad.</p>
    </article>
    <article class="card-2">
      <h2>Tokio</h2>
      <p>  fundada por el reconocido chef Nobu Matsuhisa y el actor Robert De Niro. </p>
    </article>
    <article class="card-3">
      <h2>Lima, Perú</h2>
      <p> Es conocido por ser uno de los mejores restaurantes de América Latina y uno de los mejores del mundo. </p>
    </article>
  </section>


<%- include("partials/footer") %>