<style>
    .card-elemnt {
  
      width: 280px;
      margin: 10px 10px;
    }
  </style>
  
  <div class="card text-center card-elemnt">
    <div class="card-header">
      Abierto
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <%= restaurant.name %>
      </h5>
      <p class="card-text">
        <%= restaurant.location %>
      </p>
     
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  