</head>
<body>
  <header class="header">
    <h1 class="header__title">Gourmet Fusión</h1>
  </header>
 
  <nav class="nav">
    <div class="user">
      <div class="user__photo">
        <img class="user__photo__img" src="assets/brad.jpeg">
      </div>
      <div class="user__detail">
        <div class="user__detail__name">
          <spam>Brad Pitt</spam>
        </div>
        <div class="user__detail__access">
          <spam>Cliente</spam>
        </div>
      </div>
    </div>
    <div class="navi">
      <ul class="navi__ul">
        <a href="/"><li class="item">Inicio</li></a>
        <a href="/restaurants"><li class="item">Restaurantes</li></a>
        <a href="#"><li class="item">Cerrar sesión</li></a>
      </ul>
    </div>
    
  </nav>
  <main class="main">